@import "tailwindcss";
@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --animate-bouncy: bouncy 3s ease-in-out infinite;
  --animate-grayscaleaa: grayscale 1s linear forwards;
  --animate-shake: shake 3s ease-in-out infinite;

  @keyframes bouncy {
    0%,
    100% {
      transform: translateY(10px);
    }
    50% {
      transform: translateY(-10px);
    }
  }

  @keyframes grayscaleaa {
    0% {
      filter: grayscale(100);
    }
    100% {
      filter: grayscale(0);
    }
  }

  @keyframes shake {
    0%,
    100% {
      transform: translateX(-10px);
    }
    50% {
      transform: translateX(10px);
    }
  }
}

html,
body {
  /* cursor: url("/cursor.png"), auto; */
  color: #333333;
  @apply bg-white dark:bg-[#f9f9f9];
  @media (prefers-color-scheme: light) {
    color-scheme: light;
  }
  position: relative;
  z-index: 10;
  &::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    border-radius: 100%;
    width: 60vw;
    left: 50%;
    transform: translateX(-50%);
    aspect-ratio: 1/1;
    /* height: 100px; */
    max-width: 900px;
    background: rgb(255, 255, 255);
    top: 245px;
  }
}
.heading {
  font-family: "Visuelt Pro";
}
.center-heading-page {
  /* height: calc(100vh - 300px); */
  align-content: center;
}

.loadingScreen {
  position: absolute;
  text-wrap: nowrap;
  left: 50vw;
  top: calc(50vh - 50px);
  color: white;
  transform: translate(-50%, 0%) scale(1.3);
  transition: transform 0.3s ease-in-out;
}
.loadingScreen.scale-down {
  transform: translate(-50%, -50%) scale(1);
}

.half {
  position: absolute;
  left: 0;
  width: 100vw;
  height: 50vh;
}
.upper-half {
  top: 0;
  background: black;
}
.lower-half {
  bottom: 0;
  background: black;
}

.uncover {
  position: relative;
}
/* * {
  border: 1px solid red;
} */
.uncover::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: black;
  transition: width 0.6s ease-in-out;
  z-index: 999;
}
.uncover.active::after {
  width: 0px;
  /* display: none; */
}

.bio-image {
  width: 200px;
  position: relative;
  place-self: center;
  top: 50px;
  right: 50px;
  width: 200px;
  height: 100%;
  background: repeating-linear-gradient(
    -45deg,
    #000000,
    #000000 2px,
    #f9f9f9 2px,
    #f9f9f9 15px
  );
  height: 300px;
  z-index: 0;
}
.bio-image::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: -50px;
  right: -50px;
  width: 200px;
  height: 100%;
  opacity: 1;
  background: url("https://images.unsplash.com/photo-1543852786-1cf6624b9987?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Y2F0c3xlbnwwfHwwfHx8MA%3D%3D");
  background-repeat: no-repeat;
  background-size: contain;
}

.text-with-line::after {
  content: "";
  display: inline-block;
  width: 80px;
  height: 2px;
  background: rgb(56, 56, 56);
  vertical-align: middle;
  margin-left: 4px;
  opacity: 80%;
}

@keyframes image-in {
  0% {
    opacity: 0;
    transform: translateX(100%) perspective(100px) rotateY(-2deg);
  }
  100% {
    opacity: 1;
    transform: translateX(0) perspective(100px) rotateY(-2deg);

    /* transform: perspective(100px) rotateY(-2deg); */
  }
}

@keyframes aaa {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeSlideDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(10px);
  }
}
